body{
  background-color:	#FAFAD2;
}

h1{
  text-align: center;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  /* float: right; */
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}



.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

